button {
                background-color: green;
                color: white;
                padding: 10px;
                border-radius: 5px;
            }
            #btn2 {
                background-color: red;
                color: white;
                padding: 10px;
                border-radius: 5px;
            }
            .generalStyle {
                background-color: yellow;
                padding: 10px;
                border-radius: 5px;
                color: black;
            }
            #aboutPara{
                color: purple;
            }